In [48]:
import pandas as pd
import numpy as np
from PIL import Image

In [46]:


# Open the image
image = Image.open("registration_images/J/JJJ 072.png")  # Replace with the path to your image

# Define the coordinates of the region you want to crop (left, upper, right, lower)
crop_box = (145, 210, 205, 280)  # Example coordinates, adjust them as needed

# Crop the region from the image
cropped_image = image.crop(crop_box)

# Save the cropped image
# cropped_image.save("cropped_image.png")

In [47]:
type(cropped_image)

PIL.Image.Image

In [50]:
image = np.array(cropped_image)
image2 = image.flatten()
image2

array([255, 255, 255, ..., 255, 255, 255], dtype=uint8)

In [58]:
df = pd.DataFrame([image2])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16790,16791,16792,16793,16794,16795,16796,16797,16798,16799
0,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255

In [60]:
df['Label'] = 'J'

In [71]:
unique_values = df.iloc[0][:].unique()

unique_values.size

97

In [61]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16791,16792,16793,16794,16795,16796,16797,16798,16799,Label
0,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,J

In [ ]:
def create_dataset():
    pass